body {
	background-image: url("../images/try1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.container {
	background-color: rgba(255, 255, 255, 0.9);
	height: 500px;
	width: 400px;
	text-align: center;
	position: relative;
	top: 40px;
	left: 483px;
	border: 3px solid rgb(110, 235, 235);
	border-radius: 30px;
	font-family: "Trebuchet MS", sans-serif;
}

#content {
	position: relative;
	top: 5px;
}

h2 {
	background: -webkit-linear-gradient(rgb(219, 50, 8), rgb(9, 207, 233));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	bottom: 10px;
}

label {
	padding-right: 50px;
	font-weight: bold;
	display: block;
	padding-bottom: 5px;
}

input {
	height: 20px;
	border-radius: 10px;
	width: 200px;
	padding: 4px;
}

label,
input {
	margin: 1px;
}

button {
	height: 35px;
	width: 100px;
	border-radius: 30px;
	background-color: transparent;
	cursor: pointer;
}

button:hover {
	background-color: gray;
	color: white;
}

span {
	display: block;
	color: red;
	font-size: x-small;
}

.group {
	margin: 10px;
}
