

body{
	background-color: #75a8af;
}


.min, .sec {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	position: relative;
	top: 23px;
	left: 6.9px;

}

.timer{
	background-color: black;
	width: 80px;
	height: 80px;
	border: 2px solid black;
	border-radius: 50%;
	position: fixed;
	bottom: 20px;
	left:10px;
	color:white;
}

div.marked_ques {
	position: fixed;
	width: 300px;
	height: 650px;
	top: 0px;
	right:0px;
	/*border-left: 2px solid black;*/
	background-color: #143550 ;
}

button.mark {
	background-color: white; 
	position: fixed;
	top: 350px;
	left: 800px;
	height: 60px;
	width: 190px;
	border: #f5dad0;
	/*border-radius: 50%;*/
}

button.res {
	background-color: #4C4FFF; 
	color: white;
	position: fixed;
	bottom: 20px;
	left: 580px;
	height: 60px;
	width: 450px;
	border: #4C4FFF;
	/*border-radius: 50%;*/
}

button.prev {
	background-color: white; 
	position: fixed;
	top: 350px;
	left: 350px;
	height: 60px;
	width: 190px;
	border: #f5dad0;
	/*border-radius: 50%;*/
}

button.next {
	background-color: white; 
	position: fixed;
	top: 350px;
	left: 550px;
	height: 60px;
	width: 190px;
	border: #f5dad0;
	/*border-radius: 50%;*/
}

button.next:hover, button.mark:hover, button.prev:hover {
	/*width: 120px;
	height: 70px;*/
	cursor: pointer;

}

button.res:hover {
/*	width: 220px;
	height: 70px;*/
	cursor: pointer;
}


button{
	font-family: Georgia, Verdana, sans-serif;
	font-weight: 600;
	/*color: #462e2e;*/
	border-radius: 5px;
	font-size: 20px;
}

.container {
	width: 700px;
	height: 300px;
	position: fixed;
	top:30px;
	left:150px;
	border: 2px solid transparent;
	/*border-radius: 5%;*/
	font-weight: 600;
}

.questions{
	position: relative;
	font-family: Georgia, Verdana, sans-serif;
	top:15px;
	left:60px;
	font-size: 17px;
}

.answers {
	position: relative;
	font-family: Garamond, serif;
	font-size: 20px;
	top: 30px;
	left: 40px;

}

div.counter{
	width: 40px;
	height: 40px;
	border: .1px solid black;
	border-radius: 50%;
	text-align: center;
	padding-top: 10px;
	font-size: 25px;
	font-weight: bold;
	color: white;
	background-color: black; 
	font-family: Georgia, Verdana, sans-serif;
}

div.side_list{
	width: 270px;
	height: 30px;
	margin: auto;
	margin-top: 15px;
	padding: 5px;
	border:2px solid #a4d7de;
	background-color: #a4d7de;
	cursor: pointer;
}

label {
	display: block;
	width: 550px;
	height: 20px;
	/*margin: auto;*/
	margin-top: 6px;
	background-color: white;
	border: 2px solid white;
	padding: 7px;
	/*border-radius: 5px;*/
}

label:hover {
   /* width: 360px;
	height: 25px;*/
	cursor: pointer;
}

input {
	appearance: none;
}

.styleSelected {
	background-color: #143550;
	border: .1px solid #143550;
	color: white;
}












/*input[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 2px solid #333;
  border: 3px solid white;
  width: 16px;
  height: 16px;
}

input[type='radio']:checked {
  background: #333;
}*/